<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    
    <link rel = "stylesheet" href="/static/style.css">
    <link rel = "preconnect" href="https://fonts.googleapis.com">
    <link rel = "preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href = "https://fonts.googleapis.com/css2?family=Signika:wght@400;500;600;700&display=swap" rel ="stylesheet">

    <title>Error {{.Status}}</title>
</head>
<body>
    <div class = "error">
        <h1>Error {{.Status}}</h1>
        <p>{{.Message}}</p>
        <a href="/"> Home Page </a>
    </div> 
</body>
</html>
